<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="Layout(content)"
>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title th:text="${title}">Dashboard - Smart Contact Manager</title>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!--navbar -->
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="#">
          <i class="fas fa-address-book mr-2"></i>Smart Contact Manager
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/}"
                href="#"
              >
                <i class="fas fa-home mr-1"></i>Home
              </a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="my_profile_picture mr-1"
                  th:src="@{'/img/'+${user.imageUrl}}"
                  alt="profile"
                  onerror="this.src='/img/default.png'"
                />
                <span th:text="${user.name}"></span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdown"
              >
                <a class="dropdown-item" th:href="@{/user/profile}">
                  <i class="fas fa-user-circle mr-2"></i>Profile
                </a>
                <a class="dropdown-item" th:href="@{/user/settings}">
                  <i class="fas fa-cogs mr-2"></i>Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">
                  <i class="fas fa-sign-out-alt mr-2"></i>Logout
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end navbar -->

    <!-- side bar -->
    <div class="sidebar mt-2">
      <span onclick="toggleSidebar()" class="crossBtn">&times;</span>

      <div class="text-center my-3">
        <img
          class="my_profile_picture"
          style="width: 70px; height: 70px"
          th:src="@{'/img/'+${user.imageUrl}}"
          alt="profile"
          onerror="this.src='/img/default.png'"
        />
        <h5 class="mt-2" th:text="${user.name}">User</h5>
      </div>

      <div class="divider"></div>

      <a id="home-link" href="#" th:href="@{/user/index}" class="item">
        <i class="fas fa-home"></i>Dashboard
      </a>
      <a
        id="contact-link"
        href="#"
        th:href="@{/user/show-contacts/0}"
        class="item"
      >
        <i class="fas fa-id-card-alt"></i>View Contacts
      </a>
      <a id="add-link" href="#" th:href="@{/user/add-contact}" class="item">
        <i class="fas fa-plus-circle"></i>Add Contact
      </a>
      <a id="profile-link" href="#" th:href="@{/user/profile}" class="item">
        <i class="fas fa-user-circle"></i>Your Profile
      </a>
      <a id="setting-link" href="#" th:href="@{/user/settings}" class="item">
        <i class="fas fa-cogs"></i>Settings
      </a>
      <a href="#" th:href="@{/logout}" class="item">
        <i class="fas fa-sign-out-alt"></i>Logout
      </a>
      <div class="divider"></div>

      <div class="text-center mt-3 mb-2">
        <small class="text-muted">Smart Contact Manager v1.0</small>
      </div>
    </div>
    <!-- end side bar -->

    <!-- content area -->
    <div class="content mt-5">
      <div class="d-flex">
        <i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
        <nav aria-label="breadcrumb" class="mt-3">
          <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item">
              <a th:href="@{/user/index}">Dashboard</a>
            </li>
            <li
              class="breadcrumb-item active"
              aria-current="page"
              th:text="${title}"
            >
              Page
            </li>
          </ol>
        </nav>
      </div>

      <!-- Message box -->
      <div th:if="${session.message}" class="container">
        <div
          th:classappend="${'alert-'+session.message.type}"
          class="alert text-center"
          role="alert"
        >
          <span th:text="${session.message.content}"></span>
        </div>
        <th:block
          th:text="${@sessionHelper.removeMessageFromSession()}"
        ></th:block>
      </div>

      <div th:replace="${content}"></div>

      <!-- Footer -->
      <footer class="mt-5 pt-4 text-center text-muted">
        <p>&copy; 2023 Smart Contact Manager</p>
      </footer>
    </div>
    <!-- end content -->

    <!-- Optional JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
      function deleteContact(cid) {
        swal({
          title: "Are you sure?",
          text: "Once deleted, you won't be able to recover this contact!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willDelete) => {
          if (willDelete) {
            window.location = "/user/delete/" + cid;
          } else {
            swal("Your contact is safe!", {
              icon: "info",
            });
          }
        });
      }
    </script>

    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
