<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>This is Home Page</title>
</head>

<body>

	<section>
		<div class="container">
			<div class="card">
				
				<div class="card-body">
					
					<div class="container text-center">
						<img style="height: 200px; width: 200px;" class="my_profile_picture" src=""
						th:src="@{'/img/'+${user.imageUrl}}" alt="profile photo" />

					</div>
					
					<h1 class="text-center mt-3" th:text="${user.name}"></h1>
					
					<table class="table text-center mt-3">
				<thead>
					<tr>
						<th scope="col">USERID</th>
						<th scope="col">2023<span th:text="${user.id}"></span></th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Email</th>
						<td><span th:text="${user.email}"></span></td>

					</tr>
					<tr>
						<th scope="row">Role</th>
						<td><span th:text="${user.role}"></span></td>

					</tr>
					<tr>
						<th scope="row">Account Active</th>
						<td><span th:text="${user.enabled}"></span></td>

					</tr>
					</tr>
					
					<tr>
						<th scope="row">About you</th>
						<td><span th:text="${user.about}"></span></td>

					</tr>

				</tbody>



			</table>
				</div>
			</div>
		</div>
		<script>
			
			
			$(document).ready(()=>{
				$('.item').removeClass('active');
				$("#profile-link").addClass("active");
			})
			
		</script>

	</section>
</body>

</html>